#comment-style {
    width: 80%;
    padding: 20px 50px;
    margin-top: 20px;
    margin-left: 10%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 19px;
    background: #eee;
}

